<div class="bg-lightgrey rounded border border-dark ">
  <div class="container pt-2">
    <div class="row">
      <div class="col">
        <input type="checkbox" name="checkList" value="1" />
        <span class="ml-2 strikethrough">123</span>
      </div>
      <div class="col-2 text-right">
        <i class="far fa-star"></i>
        <i class="fas fa-pencil-alt"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="ml-4">
        <span class="mr-2">
          <i class="far fa-calendar-alt"></i>
        </span>
        <span class="mr-2">
          <i class="far fa-file"></i>
        </span>
        <span class="mr-2">
          <i class="far fa-comment"></i>
        </span>
      </span>
      </div>
    </div>
  </div>
</div>